

        <div class="col-md-3">
      <%= flash[:profile] %>
      <h1>User info</h1>

      <%=attachment_image_tag user,:profile_image, :fill,100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

      <h4>name</h4>
      <%=user.name %>

      <h4>introdcution</h4>
      <%=user.introduction %>


      <br>
      <%=link_to edit_user_path(user) do %>
       <i class="fas fa-user-cog"></i>
      <% end %>



      <h1>New book</h1>

      <%=form_with model:book,local:true do |f| %>
      <p>Title</p>
      <%=f.text_field:title %>

      <p>Opinions</p>
      <%=f.text_area:body %>

      <br><%=f.submit'Create Book' %>

      <% end %>
      </div>