<script src="https://kit.fontawesome.com/9e13b4457c.js" crossorigin="anonymous"></script>
<header class="navbar navbar-expand-lg navbar-light">
  <div class="cont">
    <a class="navbar-brand p-3" href="/"></a
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <h3>Bookers</h3>
  <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li>
        <i class="fas fa-home"></i>
        <%= link_to "Home", user_path(current_user.id) ,class:"link"%>
      </li>
      <li>
        <i class="fas fa-users"></i>
        <%= link_to "Users", users_path ,class:"link"%>
      </li>
      <li>
        <i class="fas fa-book-open"></i>
        <%= link_to "Books", books_path(@book) ,class:"link"%>
      </li>
      <li>
        <i class="fas fa-sign-out-alt"></i>
        <%= link_to "logout", destroy_user_session_path, method: :delete ,class:"link"%>
      </li>
    <% else %>
      <li>
        <i class="fas fa-home"></i>
        <%= link_to "Home", root_path ,class:"link" %>
      </li>
      <li>
        <i class="fas fa-link"></i>
        <%= link_to "About", home_about_path ,class:"link" %>
      </li>
      <li>
        <i class="fas fa-user-plus"></i>
        <%= link_to "sign_up", new_user_registration_path ,class:"link" %>
      </li>
      <li>
        <i class="fas fa-sign-in-alt"></i>
        <%= link_to "Login", new_user_session_path ,class:"link" %>
      </li>
    <% end %>
    </div>
</header>

<main>
    <% if@book.errors.any? %>
    <%=@book.errors.count %>error prohibited this obj from being saved:
    <% @book.errors.full_messages.each do |message|%>
    <%=message %>
    <% end %>
    <% end %>
<h1>Editing Book</h1>


<%=form_with model:@book,local:true do |f| %>
<p>Title</p>
<%=f.text_field:title %>

<p>Opinion</p>
<%=f.text_area:body %>
<br><%=f.submit 'Update Book' %>
<% end %>

<%=link_to "Show",book_path(@book) %> |
<%=link_to "Back",books_path %>
</main>

<footer>
  <p>CopyRight Infratop.inc</p>
</footer>
